/*
GENERAL STYLE
*/

:root {
    --primary-dark-blue: hsl(243, 87%, 12%);
    --primary-desaturated-blue: hsl(238, 22%, 44%);
    --color-primary-desat-lighter: hsl(from var(--primary-desaturated-blue) h s calc(l + 50));
    --accent-bright-blue: hsl(224, 93%, 58%);
    --accent-moderate-cyan: hsl(170, 45%, 43%);
    --neutral-light-gray-blue: hsl(240, 75%, 98%);
    --neutral-light-gray: hsl(0, 0%, 75%);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; 
}

body p{
    font-size: 16px;
    color: var(--primary-desaturated-blue);
}

h1, h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400, 700;
    color: var(--primary-dark-blue);
}

section{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 6rem;
    padding-top: 2rem;
}

.link{
    color:var(--accent-moderate-cyan);
    display: flex;
    gap: 10px;
}
.cta{
    background-color:var(--primary-desaturated-blue);
}
footer{
    background-color: var(--primary-dark-blue);
}
/*======================
HEADER
========================*/

header{
    width: 90%;
    display: flex;
    padding: 2rem;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.logo{ 
    width: 7rem;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    align-items: center;
}

nav ul li{
    align-content: center;
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 700;
}

nav ul a {
    text-decoration: none;
    color: var(--primary-desaturated-blue); 
    margin-right: 0.7rem;   
}

/*=======================
MAIN CONTENT
=========================*/

 .img-container {
    width: 85%;
    margin: 3em auto;
}

.img {
    max-width: 100%;
}

.hero{
    text-align: center;
}

h2 {
    line-height: 1.5;
    text-align: center;
    font-size: 2rem;
    color: var(--primary-dark-blue); 
}

p{
    text-align: center;
    line-height: 2;
    margin-bottom: 2.5rem;
}

form {
    width: 100%;
    display: grid;
    gap: 1rem;   
}

input[type = "email"]{
    border: 1px solid black;
    height: 50px;
    padding: 0 16px;
    border-radius: 0.5rem;
}

button[type = "submit"]{
    padding: 10px;
    color: white;
    border: 0;
    background-color: var(--accent-bright-blue);
    cursor: pointer;
    border-radius: 0.5rem;
    transition-duration: 0.3s;
    transition-property: box-shadow, transform;
    
}

.btn:hover, .btn:active{
    box-shadow: 0 0 20px grey;
    transform: scale(0.9);
}

/*=======================
SECOND SECTION
=========================*/
.second-section{
    background-color: #f8f8fe;
}

.svg-img{
    width: 100%;
    display: block;
    vertical-align: bottom;
}
/*=======================
CARD COMPONENT
=========================*/

.card{
    background-color: white;
    margin-top: 2rem;
    box-shadow: 1px 1px 1px ;
    padding: 0.5rem;

}

blockquote{
    margin: 0;
    padding: 1rem;
}

.aside_content{
    display: flex;
    align-items: center;
}

.aside_content ul{
    list-style: none;
    padding-left: 1rem;
}

.aside_content ul :nth-child(1){
    font-weight: 900;
}

.aside_content ul :nth-child(2){
    font-size: small;
    color: var(--neutral-light-gray);
}

.aside_content .img-3{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

/*=======================
THIRD SECTION
=========================*/
.cta h2, .cta p{
    color: white;
}

.cta .two-col-layout{
    grid-template-columns: 40% 60%;
    gap: 1rem;

}

.cta form{
    display: grid;
    padding-left: 15rem;
}

.cta form button{
   width: 15rem;
}

.cta form input{
    width: 20rem;
 }
@media (width > 425px ){
    
    nav ul {
        list-style: none;
        justify-content: center;
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    .logo{ 
        width: 10rem;
    }

    .two-col-layout {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
        align-items: center; 
        column-gap: 1rem; 
    }

    .two-col-layout .img-container{
        order: 1;
    }

    .two-col-layout h2{ 
        text-align: left;
        line-height: 1.5;
        font-weight: 700 ;
    }

    .two-col-layout p {
        text-align: left;
        line-height: 2;
    }

    form {
        display: flex;
        width: 90%;
    }

    input[type = "email"]{
        flex: 2 1 0;
    }
    
    button[type = "submit"]{
        flex: 1 2 0;
    }
    h2 {
        line-height: 1.5;
    }

    p{
        line-height: 2;
        margin-bottom: 2rem;
    }




}
